@font-face {
    font-family: "Mali";
    src: url("fonts/Mali/Mali-Regular.ttf");
}
@font-face {
    font-family: "Comfortaa";
    src: url("fonts/Comfortaa/static/Comfortaa-Regular.ttf");
}
@font-face {
    font-family: "Monsterrat";
    src: url("fonts/Montserrat/static/Montserrat-Regular.ttf");
}

body {
    margin: 0;
    overflow-x: hidden;
}

body p:hover, h2:hover {
    cursor: default;
}

body button:hover {
    cursor: pointer;
}

/*Стили для секции header*/
header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#title {
    background-color: black;
    color: white;
    font-size: 3vw;
    margin: 0;
    text-align: center;
    padding: 2vh 2vw;
    font-family: 'Mali';
}

#about {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#icon_and_slogan {
    display: flex;
    flex-direction: column;
    width: 35vw;
}

#logo {
    max-width: 25vw;
    min-width: 20vw;
    margin: 6vh 2vw;
}

#slogan {
    font-size: 2vw;
    margin: 0 5vw;
    width: 20vw;
    font-family: 'Monsterrat';
}

#description {
    font-size: 2vw;
    width: 50vw;
    padding: 5vw;
    font-family: 'Monsterrat';
}

/*Стили для секции section*/
section {
    text-align: center;
    font-family: 'Monsterrat';
}

.description_icon {
    width: 2vw;
    margin-left: 23vw;
}

.description_icon:hover {
    cursor: pointer;
}

#products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    border: solid 2px black;
    border-radius: 1vw;
    width: 25vw;
    height: 30vh;
    margin: 2vw;
    text-align: center;
    font-size: 1.3vw;
    font-family: 'Comfortaa';
}

.adding_button {
    color: white;
    background-color: black;
    font-size: 1.2vw;
    padding: 1vh 3vw;
    border-radius: 1vw;
    font-family: 'Comfortaa';
    border: none;
}

.adding_button:hover {
    transition: 0.3s;
    background-color: rgb(162, 214, 65);
    color: black;
}

#reviews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.video {
    background-color: black;
    border-radius: 1vw;
    margin: 1vw;
}

#support {
    text-align: center;
    margin: 1vh;
    padding: 0;
    font-size: 1.7vw;
    font-family: 'Monsterrat';
}

#support img {
    width: 3vw;
    transform: rotate(30deg);
    margin: 0;
}

#support a {
    color: black;
    text-decoration: none;
}

#support a:hover {
    transition: 0.3s;
    color: rgb(162, 214, 65);
}

/*Стили для секции footer*/
footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 0.5vh 1vw;
    font-family: 'Monsterrat';
    overflow-x: hidden;
    height: 25vh;
}

#contacts a {
    text-decoration: none;
    color: white;
}

.contact {
    width: 13vw;
}

.contact:hover {
    border-bottom: rgb(162, 214, 65) solid 0.1vw;
    transition: 0.3s;
}

#social_networks {
    background-color: black;
    margin-top: auto;
    text-align: center;
    margin: -7vh auto;
}   

#social_networks img {
    width: 3vw;
    margin: 0vh 0.5vw;
}