#shopping_cart ul {
    list-style-type: none;
}

#shopping_cart.hide {
    display: none;
}

#closeWindow {
    margin-top: 4%;
    margin-left: 93%;
    text-align: right;
    width: 1vw;
    height: 2vh;
    background-color: red;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

#shopping_cart {
    border-radius: 0.5vw;
    width: 20vw;
    text-align: center;
    padding: 1vh 1vw;
    margin: 0 auto;
}

#product_ul {
    overflow-y: auto;
    max-height: 20vh;
    max-width: 25vw;
}

#product_ul2 {
    overflow-y: auto;
    max-height: 20vh;
    max-width: 20vw;
    width: 20vw;
    overflow-x: hidden;
    margin: 0 auto;
}

.productImgInList {
    width: 5vw;
    height: 10vh;
    margin: auto 0;
    border-radius: 0.5vw;
}

.description {
    text-align: left;
    width: 15vw;
}

.desc_text {
    margin: 0 1vw;
}

.prodItem {
    display: flex;
    flex-direction: row;
    padding: 1vh 1vw;
    border-radius: 0.5vw;
    margin: 1vh 1vw;
    background-color: black;
    color: white;
}

.deleteElement {
    margin-top: 4%;
    margin-left: 93%;
    text-align: right;
    width: 1vw;
    height: 2vh;
    background-color: red;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.deleteElement:hover {
    cursor: pointer;
}

.itemData {
    display: flex;
    flex-direction: row;
    
}

#products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    border-radius: 1vw;
    margin: 1vh 3vw;
    width: 20vw;
    height: 50vh;
    text-align: center;
    background-color: black;
    background-size: 50%;
}

.product p {
    margin: 0;
    color: white;
}

.product .box_title {
    font-size: 2.5vw;
}

.product .box_price {
    font-size: 1.7vw;
}

.product p:hover {
    cursor: default;
}

.product button {
    border: none;
    color: black;
    background-color: white;
    border-radius: 0.5vw;
    padding: 0.3vh 2vw;
    margin-top: 2vh;
    font-size: 1.5vw;
}

.product button:hover {
    transition: 0.3s;
    color: black;
    background-color: rgb(162, 214, 65);
    cursor: pointer;
}

.product .info_box {
    width: 2vw;
    margin-left: 16vw;
    margin-top: 2vh;
    filter: invert(100%);
}

.product .info_box:hover {
    cursor: pointer;
}

.product .info_text {
    margin-top: 5vh;
}

.product .box_img {
    width: 10vw;
    height: 20vh;
}

#productList_block {
    display: none;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-name: fadeIn;
    text-align: center;
}

#productList_block.open {
    display: block;
}

#productList_block.close {
    display: none;
}

.productsList_block {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(17, 17, 17, 0.5);
    transition: all 0.5s ease;
    display: none;
}

.productsList_block_open {
    display: block;
}

.productsList_block_close {
    display: none;
}

.productList_block_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    max-width: 25vw;
    min-width: 10vw;
    width: 100%;
}

.productList_wrapper {
    padding: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#productList_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#productList_form button {
    color: white;
    background-color: black;
    border: none;
    border-radius: 1vw;
    font-size: 1vw;
    padding: 1vh 2vw;
    animation: show 3s 1;
    width: 10vw;
    margin: 1vh auto;
}

#productList_form button:hover {
    color: black;
    background-color: rgb(216, 219, 26);
    cursor: pointer;
    transition: 0.3s;
}

#close_ProductList_button {
    margin-top: 4%;
    margin-left: 93%;
    text-align: right;
    width: 1vw;
    height: 2vh;
    background-color: red;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

#close_ProductList_button:hover {
    cursor: pointer;
}

#box_param {
    display: flex;
    flex-direction: column;
}